// @import "bourbon";

@font-face {
	font-family: "ProximaRegular";
	src: url("../fonts/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "ProximaBold";
	src: url("../fonts/ProximaNovaBold.ttf") format("truetype");
	font-style: normal;
	font-display: fallback;
}
@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: fallback;
}

@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSansBold.ttf") format("truetype");
	font-style: normal;
	font-display: fallback;
}
