//Colors
$purple: #6832ac;

@mixin flex($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

@mixin font($weight, $size, $line-height, $letter-spacing, $color) {
	font-size: $size;
	font-weight: $weight;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
	color: $color;
}

@mixin size($width, $height) {
	width: $width + px;
	height: $height + px;
}

$maxWidth: 1920;

@mixin adaptive-font($pcSize, $mobSize, $line-height, $color) {
	font-size: $pcSize + px;
	line-height: $line-height + px;
	color: $color;
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: $maxWidth + px) {
		font-size: calc(
			#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth})
		);
	}
	@media (max-width: 767px) {
		font-size: calc(
			#{$mobSize + px} + #{$addMobSize} * ((100vw - 360px) / #{$maxWidth})
		);
	}
}

@mixin font($size, $line-height, $color) {
	font-size: $size + px;
	line-height: $line-height + px;
	color: $color;
}

@mixin background-img() {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@mixin position-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
