.footer {
	background: #311456;
	width: 100%;
	height: 185px;
	padding-top: 21px;
	padding-bottom: 186px;
	@include mobile {
		height: 326px;
		padding-bottom: 86px;
	}
	&__wrapper {
		@include flex(flex-start, center, row);
		@include mobile {
			flex-direction: column;
			justify-content: center;
			padding-top: 11px;
		}
	}
	&__logo {
		display: block;
		margin-right: 251px;
		@include mobile {
			@include size(188, 162);
			margin: 0 auto;
		}
		img {
			width: 100%;
		}
	}
	&__nav {
	}
	&__link {
		font-family: "ProximaRegular", serif;
		font-size: 18px;
		position: relative;
		display: block;
		margin-bottom: 14px;
		color: #ffffff;
		cursor: pointer;
		line-height: 31px;
		img {
			position: absolute;
			top: 7px;
			left: -42px;
		}
	}
}
