.info {
	padding: 50px 0;
	&__wrapper {
		@include mobile {
			width: 85%;
		}
	}
	&__container {
		@include flex(space-between, center, row);
	}
	&__list-item {
		display: flex;
	}
	&__title {
		margin-bottom: 49px;
		span {
			color: #6832ac;
			font-family: OpenSansBold;
		}
	}
	&__text {
		font-size: 18px;
		line-height: 31px;
		color: #26133e;
		margin-bottom: 31px;
		span {
			font-weight: 700;
		}
		@include mobile {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 20px;
		}
	}
	&__img {
		@include desktop_xxl {
			img {
				width: calc(100vw * 0.35);
			}
		}
		@include tablet_md {
			display: none;
		}
	}
	&__number {
		width: 45px;
		margin-right: 15px;
		@include mobile {
			width: 28px;
		}
		img {
			@include size(45, 42);
			@include mobile {
				@include size(28, 30);
			}
		}
	}
	&__button {
		display: block;
		width: auto;
		padding: 12px 103px;
		margin: 0 auto;
		max-width: 335px;
		@include tablet_md {
			padding: 12px 72px;
		}
	}
}
