.questions {
	background: #f5f5f5;
	padding: 50px 0 19px;
	&__wrapper {
	}
	&__title {
		margin-bottom: 80px;
	}
	&__container {
		@include flex(space-between, flex-start, row);
		@include tablet_md {
			flex-direction: column;
		}
	}
	&__block {
		width: 49%;
		@include tablet_md {
			width: 100%;
		}
	}
	&__item {
		position: relative;
		padding: 23px 48px 12px 25px;
		background: #ffffff;
		box-shadow: 0px 2px 15px rgba(74, 74, 74, 0.2);
		border-radius: 20px;
		margin-bottom: 20px;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	&__heading {
		@include font(24, 30, #26133e);
		font-family: "ProximaBold", serif;
		margin-bottom: 12px;
		@include mobile_sm {
			font-size: 16px;
			line-height: 20px;
		}
	}
	&__text {
		@include font(16, 28, #333333);
		font-family: "ProximaRegular";
		max-height: 0;
		transition: all 0.6s linear;
		overflow: hidden;
		span {
			font-weight: 700;
		}
		@include mobile_sm {
			font-size: 16px;
			line-height: 24px;
		}
		&.open {
			max-height: 250px;
		}
	}
	&__plus {
		position: absolute;
		top: 31px;
		right: 31px;
		transition: all 0.5s;
		&.open {
			transform: rotate(45deg);
		}
	}
}
