.reviews {
	background: #f5f5f5;
	padding: 50px 0 41px 0;
	position: relative;
	&__wrapper {
	}

	// .reviews__title

	&__title {
	}

	// .reviews__container

	&__container {
	}

	// .reviews__slider

	&__slider {
	}

	// .reviews__item

	&__item {
	}
	&__block {
	}
	&__content {
		@include flex(flex-start, center, row);
	}
}

.controls {
	@include flex(space-between, center, row);
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 100;
	&__button {
		position: absolute;
		z-index: 10;
		@include size(50, 50);
		background: #6832ac;
		border-radius: 50%;
		cursor: pointer;
		&[aria-disabled="true"] {
			opacity: 0;
		}
		&:focus {
			outline: none;
		}
		&_prev,
		&_next {
			span {
				@include position-center();
				@include size(7, 2);
				background: #f5f5f5;
			}
			span:nth-child(1) {
				top: 46%;
				transform: rotate(45deg);
			}
			span:nth-child(2) {
				top: 54%;
				transform: rotate(-45deg);
			}
		}
		&_prev {
			left: -25px;
			transform: rotate(180deg);
			@include mobile {
				right: 18px;
			}
		}
		&_next {
			right: -25px;
			@include mobile {
				left: 18px;
			}
		}
	}
}
