.timers {
	padding: 60px 0;
	background: #f5f5f5;
	@include tablet_md {
		padding: 40px 0;
	}
	&__wrapper {
		@include flex(space-between, center, row);
		@include desktop_xl {
			flex-direction: column;
		}
		@include tablet_md {
			flex-direction: column;
		}
	}
	&__container {
		@include flex(space-between, center, row);
		width: 56%;
		@include desktop_xl {
			width: 90%;
			margin-bottom: 35px;
		}
		@include tablet_sm {
			flex-direction: column;
		}
	}
	&__item {
		position: relative;
		@include tablet {
			margin-bottom: 30px;
		}
	}
	&__content {
	}
	&__text {
		@include font(24, 30, #26133e);
		font-family: "OpenSansRegular", serif;
		margin-bottom: 28px;
		@include tablet {
			font-size: 18px;
		}
	}
	&__button {
		width: 88%;
		margin: 0 auto;
	}
}

.timer {
	@include size(180, 180);
	@include flex(center, center, column);
	position: relative;
	background: #f5f5f5;
	box-shadow: 0px 2px 15px rgba(74, 74, 74, 0.2);
	border-radius: 50%;
	@include tablet {
		@include size(150, 150);
	}
	&__percent {
		@include font(48, 60, #6832ac);
		position: absolute;
		top: 50px;
		font-family: "OpenSansBold", serif;
		text-transform: uppercase;
		@include tablet {
			font-size: 45px;
			line-height: 45px;
		}
	}
	&__text {
		@include font(14, 24, #26133e);
		position: absolute;
		top: 104px;
		@include tablet {
			top: 92px;
			font-size: 12px;
		}
	}
}
