.timers {
	padding: 60px 0;
	background: #f5f5f5;
	&__wrapper {
		@include flex(space-between, center, row);
		@include mobile {
			flex-direction: column;
		}
	}
	&__container {
		@include flex(space-between, center, row);
		width: 56%;
		@include mobile {
			flex-direction: column;
		}
	}
	&__item {
		@include mobile {
			margin-bottom: 30px;
		}
	}
	&__content {
	}
	&__text {
		@include font(24, 30, #26133e);
		font-family: "OpenSansRegular", serif;
		margin-bottom: 28px;
		@include mobile {
			font-size: 18px;
		}
	}
	&__button {
		width: 88%;
		margin: 0 auto;
	}
}

.timer {
	@include size(179, 179);
	@include flex(center, center, column);
	background: #f5f5f5;
	box-shadow: 0px 2px 15px rgba(74, 74, 74, 0.2);
	border-radius: 50%;
	&__percent {
		@include font(48, 60, #6832ac);
		font-family: "OpenSansBold", serif;
		text-transform: uppercase;
	}
	&__text {
		@include font(14, 24, #26133e);
	}
}
